<div class="card-container" card-local-id="<%= localId %>">
    <div class="header">
        <h3><%= name %></h3>
        <div class="filler"></div>
        <h3>Lvl. <%= level %></h3>
    </div>
    <img src="<%= imagePath %>" alt="placeholder image">
    <bodyHeaderCombat>Combat Actions</bodyHeaderCombat>
    <p><%= combatActions %></p>
    <bodyHeaderAbilities>Abilities</bodyHeaderAbilities>
    <p><%= abilities %></p>
    <bodyHeaderFaction>Faction Bonus</bodyHeaderFaction>
    <p><%= factionBonus %></p>
    <div class="hp-dmg-container">
        <hpHeader>HP: <%= hp %></hpHeader>
        <dmgHeader>DMG: <%= dmg%></dmgHeader>
    </div>
</div>